.header {
  background: $dark-blue;
}
.header__content {
  padding: $s-size 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
.noa {
  color: rgb(195, 66, 235) ;
  text-decoration: none;
  margin: 0;
  font-weight: 200;
  padding: 0 $m-size;
  text-align: center;

}