// colors
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$grey: #888888;

// font size
$font-size-large: 1.8rem;

// size:
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// desktop breakpoint size:
$desktop-breakpoint:45rem;